# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=salicornia_db
DB_USER=salicornia_dev
DB_PASSWORD=tu_password_aqui

# Node
NODE_ENV=development
PORT=3000

# AEMET API (registrarse en www.aemet.es)
AEMET_API_KEY=tu_clave_aqui
AEMET_LATITUDE=36.5271
AEMET_LONGITUDE=-6.2886

# Almacenamiento
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880

# CORS
CORS_ORIGIN=http://localhost:5173
